<section class="login-signup-logo">
  <img src="/images/inked-in-logo-B.png" alt="inked-in logo">
</section>
<section class="form-container">
  <h2>Login</h2>
  <div id="form">
    <form action="/auth/login" method="POST">
      <input class="email" type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />
      {{#if error}}
        <p class="error">{{ error }}</p>
      {{/if}}
      <div class="button-form-container">
        <button type="submit">Login</button>
      </div>
    </form>
    <div class="form-end-question">
      <p class="form-end-question-p">Don't have an account yet? <a href="/auth/signup">Join us!</a></p>
    </div>
  </div>
</section>