<section class="login-signup-logo">
  <img src="/images/inked-in-logo-B.png" alt="inked-in logo">
</section>
<section class="form-container">
  <h2>Be part of our community</h2>
  <div id="form">
    <form action="/auth/signup" method="POST">
      <input type="text" name="username" placeholder="User name" required />
      <input class="email" type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <select class="select-sign-up" name="userRole" required>
        <option value="" disabled selected>Choose a user role</option>
        <option value="tattooer">Tattooer</option>
        <option value="user">Tattoed User</option>
      </select>
      {{#if error}}
        <p class="error">{{error}}</p>
      {{/if}}
      <div class="button-form-container">
        <button type="submit">Join us</button>
      </div>
      <div class="form-end-question">
        <p class="form-end-question-p">Do you have an account? <a href="/auth/login">Log in!</a></p>
      </div>
    </form>
  </div>
</section>