<section class="form-container">
  <h2>Be part of our community</h2>
  <div id="form">
    <form action="/auth/signup" method="POST">
      <input type="text" name="username" placeholder="User name" required />
      <input type="email" name="email" placeholder="email" required />
      <input type="password" name="password" placeholder="password" required />
      <select class="select-sign-up" name="userRole" required>
        <option value="" disabled selected>Choose a user role</option>
        <option value="tattooer">Tattooer</option>
        <option value="user">Tattoed User</option>
      </select>
      {{#if error}}
      <p style="color: red;">{{error}}</p>
      {{/if}}
      <div class="button-form-container">
        <button type="submit">Join us</button>
      </div>
    </form>
    <p>You do have an account? <a href="/auth/login">Log In!</a></p>
  </div>
</section>