{{#if user}}
<nav class="navbar-layout2">
  <ul>
    <li><a href="/"><img class="max-icon" src="/images/inked-in-logo-B.png" alt="logo-icon"></a></li>
  </ul>
</nav>
{{/if}}
<section class="form-container">
  <h2>Upload a photo</h2>
<div id="form">
  <form action="/tattoo/upload" method="POST" enctype="multipart/form-data">
    <label>Tattoo photo</label>
    <input type="file" name="tattooImage" required/>
    {{#if tattooerUser}}
      <label>Tattoo Style</label>
      <select name="tattooPhotoStyle" multiple required>
        <option value="traditionalOldSchool">Traditional OldSchool</option>
        <option value="realism">Realism</option>
        <option value="watercolor">Watercolor</option>
        <option value="tribal">Tribal</option>
        <option value="newSchool">New School</option>
        <option value="neoTraditional">Neo Traditional</option>
        <option value="japanese">Japanese</option>
        <option value="blackwork">Blackwork</option>
        <option value="dotwork">Dotwork</option>
        <option value="geometric">Geometric</option>
        <option value="illustrative">Illustrative</option>
        <option value="sketch">Sketch</option>
        <option value="anime">Anime</option>
        <option value="lettering">Lettering</option>
        <option value="minimalism">Minimalism</option>
        <option value="surrealism">Surrealism</option>
        <option value="trashPolka">TrashPolka</option>
        <option value="blackAndGrey">Black and Grey</option>
        <option value="ignorant">Ignorant</option>
        <option value="other">Other</option>
      </select>
    {{/if}}
    <input type="number" name="year" placeholder="Year" required/>
    <input type="text" name="place" placeholder="Where?" required/>
    {{#if userUser}}
      <input type="text" name="tattooer" placeholder="Tattoers name" required/>
    {{/if}}
    <div class="button-form-container">
      <button type="submit">Upload</button>
    </div>
    {{#if error}}
    <p style="color: red;">{{error}}</p>
    {{/if}}
  </form>
</div>
</section>
