<section class="review">
  <div class="info-review-div">
    <h5>{{toUpperCase this.userId.username}}</h5>
    <p class="comment">{{toUpperCase this.comment}}.</p>
    <p class="rate">Rate: {{this.stars}}/5</p>
  </div>
</section>