<section class="review">
  <div class="info-review-div">
    <h5>{{toUpperCase this.userId.username}}</h5>
    <p class="comment">{{toUpperCase this.comment}}.</p>
    <p class="rate">{{changeNumToStar this.stars}}</p>
  </div>
</section>