<nav class="navbar-layout2">
    <ul>
        <li><a href="/"><img class="max-icon" src="/images/inked-in-logo-B.png" alt="logo-icon"></a></li>
    </ul>
</nav>

<section class="error">
    <img class="gucci" src="/images/guccicat.png">
</section>
