<section class="index-container">
  <div class="main-logo-container">
    <img src="/images/inked-in-logo-B.png" alt="inked-in logo">
  </div>
  <div class="main-buttons-container">
    <a href="/auth/signup">Join us </a>
    <a href="/auth/login"> Log in </a>
  </div>
</section>
