<section class="index-container">
  <div class="main-logo-container">
    <img src="/images/inked-in-logo-A.png" alt="inked-in logo">
  </div>
  <div class="main-buttons-container">
    <button><a href="/auth/signup"> Join us </a></button>
    <button><a href="/auth/login"> Log in </a></button>
  </div>
</section>
