{{#if user}}
<nav class="navbar-layout2">
    <ul>
        <li><a href="/"><img class="max-icon" src="/images/inked-in-logo-B.png" alt="logo-icon"></a></li>
    </ul>
</nav>
{{/if}}
<section class="form-container">
    <h2>Find by tattoo style</h2>
    <div id="form2">
        <form method="GET" action="/search/tattooer"> 
            <input type="checkbox" name="tattooPhotoStyle" value="traditionalOldSchool">
            <label for="traditionalOldSchool">Tradi Old School</label>
            <input type="checkbox" name="tattooPhotoStyle" value="realism">
            <label for="realism">Realism</label>
            <input type="checkbox" name="tattooPhotoStyle" value="watercolor">
            <label for="watercolor">Watercolor</label>
            <input type="checkbox" name="tattooPhotoStyle" value="tribal">
            <label for="tribal">Tribal</label>
            <input type="checkbox" name="tattooPhotoStyle" value="newschool">
            <label for="newschool">New School</label>
            <input type="checkbox" name="tattooPhotoStyle" value="neoTraditional">
            <label for="neoTraditional">Neo Traditional</label>
            <input type="checkbox" name="tattooPhotoStyle" value="japanese">
            <label for="japanese">Japanese</label>
            <input type="checkbox" name="tattooPhotoStyle" value="blackwork">
            <label for="blackwork">BlackWork</label>
            <input type="checkbox" name="tattooPhotoStyle" value="dotwork">
            <label for="dotwork">Dotwork</label>
            <input type="checkbox" name="tattooPhotoStyle" value="geometric">
            <label for="geometric">Geometric</label>
            <input type="checkbox" name="tattooPhotoStyle" value="illustrative">
            <label for="illustrative">Illustrative</label>
            <input type="checkbox" name="tattooPhotoStyle" value="sketch">
            <label for="sketch">Sketch</label>
            <input type="checkbox" name="tattooPhotoStyle" value="anime">
            <label for="anime">Anime</label>
            <input type="checkbox" name="tattooPhotoStyle" value="lettering">
            <label for="lettering">Lettering</label>
            <input type="checkbox" name="tattooPhotoStyle" value="minimalism">
            <label for="minimalism">Minimalism</label>
            <input type="checkbox" name="tattooPhotoStyle" value="surrealism">
            <label for="surrealism">Surrealism</label>
            <input type="checkbox" name="tattooPhotoStyle" value="trashPolka">
            <label for="trashPolka">TrashPolka</label>
            <input type="checkbox" name="tattooPhotoStyle" value="blackAndGrey">
            <label for="blackAndGrey">Black And Grey</label>
            <input type="checkbox" name="tattooPhotoStyle" value="ignorant">
            <label for="ignorant">Ignorant</label>
            <input type="checkbox" name="tattooPhotoStyle" value="other">
            <label for="other">Other</label> 
        </div>
        <div class="button-form-container">
            <button class="buttonsearch" type="submit">Search</button>
        </div>
    </form>

    <section class="result-tattooes">
        {{#each tattoo}}
            <img src="{{this.tattooImage}}" alt="">
            <a href="/tattooer/{{this.user._id}}"><p>name: {{this.user.username}}</p></a>
        {{/each}}
    </section>

</section>