<h2>{{user.username}} upload a photo</h2>

<form action="/users/upload" method="POST" enctype="multipart/form-data">
  <label>Tattoo photo</label>
  <input type="file" name="tattooImage" required/>
  {{#if tattooerUser}}
  <label>Tattoo Style</label>
  <select name="tattooPhotoStyle" multiple required>
    <option value="" disabled selected>Choose your styles</option>
    <option value="traditionalOldSchool">Traditional OldSchool</option>
    <option value="realism">Realism</option>
    <option value="watercolor">Watercolor</option>
    <option value="tribal">Tribal</option>
    <option value="newSchool">New School</option>
    <option value="neoTraditional">Neo Traditional</option>
    <option value="japanese">Japanese</option>
    <option value="blackwork">Blackwork</option>
    <option value="dotwork">Dotwork</option>
    <option value="geometric">Geometric</option>
    <option value="illustrative">Illustrative</option>
    <option value="sketch">Sketch</option>
    <option value="anime">Anime</option>
    <option value="lettering">Lettering</option>
    <option value="minimalism">Minimalism</option>
    <option value="surrealism">Surrealism</option>
    <option value="trashPolka">TrashPolka</option>
    <option value="blackAndGrey">Black and Grey</option>
    <option value="ignorant">Ignorant</option>
    <option value="other">Other</option>
  </select>
  {{/if}}
  <label>Year</label>
  <input type="number" name="year" required/>
  <label>Where?</label>
  <input type="text" name="place" required/>
  {{#if userUser}}
  <label>Tattooer</label>
  <input type="text" name="tattooer" required/>
  {{/if}}
  <button type="submit">Upload</button>
</form>

