/*-------SIGN UP PAGE / EDIT PROFILE / UPLOADCONTENT / LOG IN ----------*/

section.login-signup-logo {
   display: flex;
   justify-content: center; 
   padding-top: 2rem;
}

section.login-signup-logo img {
    width: 115px;
}

section.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding-top: 2rem;
}

section.form-container h2 {
    text-align: center;
}

section.form-container div#form {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    justify-content: center;
    position: relative;
}

section.form-container div#form form input {
    margin-bottom: 2rem;
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: var(--secondary-gold);
    background-color: var(--primary-grey);
    color: var(--primary-white);
}

section.form-container div#form form input::placeholder {
    color: var(--primary-white);
}

section.form-container div#form form select {
    margin-bottom: 2rem;
    background-color: var(--primary-grey);
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: var(--secondary-gold);
    border: 1px solid var(--secondary-gold);
    color: var(--primary-white);
}

section.form-container div#form form select.select-sign-up {
    margin-bottom: 1rem;
    background-color: var(--primary-grey);
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: var(--secondary-gold);
    color: var(--primary-white);
}

section.form-container div#form form label {
    color: var(--primary-white);
    padding-bottom: 1rem;
}

section.form-container div#form form div.button-form-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

section.form-container div#form form div.button-form-container button {
    border: 1px solid var(--secondary-gold);
    width: 200px;
    background-color: var(--primary-grey);
    padding: 1rem 0;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-white);
    cursor: pointer;
}

section.form-container div#form form div.button-form-container button:hover {
    border: 1px solid var(--primary-white);
    width: 205px;
    color: var(--secondary-gold);
    cursor: pointer;
}

.delete-photos-button {
    border: 1px solid var(--secondary-gold);
    width: 200px;
    background-color: var(--primary-grey);
    padding: 1rem 0;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-white);
}

.delete-photos-button:hover {
    border: 1px solid var(--primary-white);
    width: 205px;
    color: var(--secondary-gold)
}

section.form-container div#form div.form-end-question{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

section.form-container div#form div.form-end-question p.form-end-question-p {
    font-size: 0.8rem;
}

section.form-container div#form div.form-end-question p.form-end-question-p a {
    color: var(--secondary-gold);
    font-weight: 900;
}

.upload-photo img {
    border: 1px solid var(--secondary-gold);
    border-radius: 50%;
    cursor: pointer;
    margin-top: 1rem;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.upload-profile-photo-container {
    display: flex;
    justify-content: center;
}

select.select option:checked {
    color: var(--primary-white);
    background-color: var(--secondary-gold);
}

input:focus {
    color: var(--primary-white);
    outline: 1px solid var(--secondary-gold);
}

select.select {
    color: var(--primary-white);
    outline: 1px solid var(--secondary-gold);
}

select.select option:focus {
    background-color: beige;
}

/*FORM 2*/
section.form-container div#form2 label {
    color: var(--primary-white)
}

section.form-container-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 0.3rem;
}

section.form-container-search div#form-search {
    color: var(--primary-white);
    margin: 0 2rem;
}

section.form-container-search div#form-search ul.ul-checkbox-search {
    display:flex;
    gap: 1rem;
}

section.form-container-search div#form-search ul.ul-checkbox-search section.column-search-form li {
    margin: 0 0 0.3rem 0;
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

section.form-container-search div#form-search ul.ul-checkbox-search section.column-search-form li input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: var(--primary-white);
}

section.form-container-search div#form-search ul.ul-checkbox-search section.column-search-form li input[type="checkbox"]:checked {
    background-color: var(--secondary-gold);
}

.error {
    color: var(--secondary-gold);
    margin-top: 0.8rem;
}

section.formrev {
    margin: 3rem 2rem 2rem 1rem;
    padding-left: 2rem;
    overflow: hidden;
}

section.formrev form input{
    margin-top: 0.3rem;
    margin-bottom: 2rem;
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: var(--secondary-gold);
    background-color: var(--primary-grey);
}

section.formrev input {
    color: var(--primary-white);
    width: 16rem;;
}

section.formrev label {
    color: var(--primary-white);
    width: 200px;
    padding-right: 5px;
}

section.formrev button {
    border: 1px solid var(--secondary-gold);
    width: 150px;
    background-color: var(--primary-grey);
    padding: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-white);
    margin: 1rem 2rem 0rem 3.5rem;
}

input::placeholder {
    color: var(--primary-white);
}

/* Change autocomplete styles in WebKit */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid var(--secondary-gold);
    -webkit-text-fill-color: var(--primary-white);
    -webkit-box-shadow: 0 0 0px 1000px var(--primary-grey) inset;
    transition: background-color 5000s ease-in-out 0s;
}

