/*---------------GENERAL---------------*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap');

@font-face {
  font-family: porlane;
  src: url("/fonts/porlane/Porlane.ttf")
}

* {
  font-size: 16px;
  font-family:'Manrope', sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-grey: #242424;
  --primary-white: #ebebeb;
  --secondary-gold: #AB882E;
}

body {
  background-color: var(--primary-grey);
  width: 100vw;
  margin-bottom: 100px;
}

h2 {
  font-family: porlane;
  font-size: 4.2rem;
  color: var(--primary-white);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

h3 {
  font-family: porlane;
  font-size: 1.7rem;
  color: var(--secondary-gold);
  font-weight: 900;
  line-height: 1.5rem;
}

h4 {
  font-family: porlane;
  font-size: 4.5rem;
  color: var(--secondary-gold);
  letter-spacing: 1px;
  text-transform: uppercase;
}

p{
  font-family: 'Manrope', sans-serif;
  color: var(--primary-white)
}

a {
  font-family: 'Manrope', sans-serif;
  text-decoration: none;
  color: var(--primary-white);
}

li {
  font-family: 'Manrope', sans-serif;
  text-decoration: none;
  color: var(--secondary-gold);
}

input, label, select, button {
  font-family: 'Manrope', sans-serif;
}

/*---------------INDEX PAGE---------------*/
section.index-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  gap: 3.6rem;
}

section.index-container div.main-logo-container {
  display: flex;
}

section.index-container div.main-logo-container img {
  width: 195px;
}

section.index-container div.main-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 2rem
}

section.index-container div.main-buttons-container a{
  border: 1px solid var(--secondary-gold);
  width: 200px;
  background-color: var(--primary-grey);
  padding: 1rem 0;
  text-transform: uppercase;
  text-align: center;
}

section.index-container div.main-buttons-container a:hover {
  border: 1px solid var(--primary-white);
  width: 205px;
  color: var(--secondary-gold)
}

/*---------------SIGN UP PAGE---------------*/

section.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding-top: 2rem;
}

section.form-container h2 {
  text-align: center;
}

div#form form{
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  justify-content: center;
}

div#form form input {
  margin-bottom: 2rem;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: var(--secondary-gold);
  background-color: var(--primary-grey);
}

div#form form input::placeholder {
  color: var(--primary-white);
}

div#form form select {
  margin-bottom: 1rem;
  background-color: var(--primary-grey);
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: var(--secondary-gold);
  color: var(--primary-white);
}

div.button-form-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

div#form form button {
  border: 1px solid var(--secondary-gold);
  width: 200px;
  background-color: var(--primary-grey);
  padding: 1rem 0;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white);
}

div#form form button:hover {
  border: 1px solid var(--primary-white);
  width: 205px;
  color: var(--secondary-gold)
}

/*---------------NAVBAR UP LAYOUT---------------*/

nav.navbar-layout2{
  width: 100vw;
  padding: 20px 25px 6px 25px;
  background-color: var(--primary-grey);
  border-color: var(--secondary-gold);
  margin: 0 0 1rem 0;
}

nav.navbar-layout2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.max-icon {
  width: 72px;
}

/*---------------NAVBAR LAYOUT---------------*/
nav.navbar-layout{
  width: 100vw;
  padding: 20px;
  background-color: var(--primary-grey);
  position: fixed;
  bottom: 0;
  border-top: solid 0.5px;
  border-color: var(--secondary-gold);
}

nav.navbar-layout ul {
  display: flex;
  justify-content: space-between;
}

nav.navbar-layout ul .li-no-user {
  display: flex;
  justify-content: center;
}

nav.navbar-layout ul li a img {
  width: 48px;
}

/*---------------PROFILE PAGE---------------*/

nav.profile-navbar {
  display: flex;
  top: 0;
  height: 8.5vh;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background: var(--primary-grey);
}

nav.profile-navbar div.title a img.profile-icon {
  width: 44px;
}

.list-item {
  padding: 10px;
}

.nav-link {
  color: inherit;
}

/*Properties for Hamburger*/
.ham {
  display: none;
  padding: 5px;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  display: block;
  width: 35px;
  height: 2px;
  margin: 5px auto;
  background-color: var(--secondary-gold);
  transition: 0.4s;
}

.nav-sub {
  display: none;
}

.nav-subthis{
  display: flex;
  position: absolute;
  top: 7vh;
  right: 0px;
  flex-direction: column;
  background-color: var(--primary-grey);
  text-align: right;
  margin-right: 1rem;
}

.ham {
  display: block;
}

.change .bar1 {
  transform: rotate(45deg) translate(8px, 3px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(-45deg) translate(8px, -3px);
}

section.main-section div.profile-main-container section.profile-image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

section.main-section div.profile-main-container section.profile-info-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  line-height: 1.3rem;
}

section.profile-image-container img{
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: cover;
  border: 1px solid var(--secondary-gold);
}

img.profile-photos {
  width: 100vw;  
  height: 35vh;
  object-fit: cover;
}

div.user-info-div {
  margin: 0 0.4rem 0 0.4rem;
}

.ul-tattoo-styles {
  display: flex;
  gap: 0.5rem;
}

div.reviews-stars-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.starts-reviews {
  width: 90px;
}

/*---------------WELCOME PAGE---------------*/
section.main-welcome-title {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

section.tattoer-photos-container div div.like-and-username {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.1rem 0.8rem 1.3rem 0.8rem;
}
section.tattoer-photos-container div div.tattoo-photo-div img.welcome-tattoo-photo {
  width: 100vw;
  height: 35vh;
  object-fit: cover;
}

/*---------------SEARCH PAGE---------------*/

section.form-container {
  color: var(--primary-white)
}

div#form2 form{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  padding: 0 2rem;
  justify-content: flex-start;
}

button.buttonsearch{
  border: 1px solid var(--secondary-gold);
  width: 150px;
  background-color: var(--primary-grey);
  padding: 1rem 0;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white);
}

section.result-tattooes img{
  width: 100vw;  
  height: 35vh;
  object-fit: cover;
}

/*---------------LIKE ICONS---------------*/

.like-icon {
  width: 29px;
}

/*---------------REVIEWS PAGE---------------*/

section.review {
  color: var(--primary-white);
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.min-icon {
  width: 29px;
}