/*---------------GENERAL---------------*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap');

@font-face {
  font-family: porlane;
  src: url("/fonts/porlane/Porlane.ttf")
}

* {
  font-size: 16px;
  font-family:'Manrope', sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-black: #010101;
  --primary-white: #f7f7f7;
  --secondary-grey: #595959;
  --secondary-gold: #AB882E;
}

body {
  background-color: var(--primary-white);
  width: 100vw;
  margin-bottom: 100px;
}

h2 {
  font-family: porlane;
  font-size: 5.2rem;
}

a {
  font-family: 'Manrope', sans-serif;
  text-decoration: none;
  color: var(--primary-black);
}

li {
  font-family: 'Manrope', sans-serif;
  text-decoration: none;
  color: var(--secondary-gold);
}

/*---------------INDEX PAGE---------------*/
section.index-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  gap: 3.6rem;
}

section.index-container div.main-logo-container {
  display: flex;
}

section.index-container div.main-logo-container img {
  width: 195px;
}

section.index-container div.main-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 2rem
}

section.index-container div.main-buttons-container button {
  border: 1px solid var(--secondary-gold);
  width: 200px;
  background-color: var(--primary-white);
  padding: 0.6rem 0;
}

section.index-container div.main-buttons-container button:hover {
  border: 1px solid var(--primary-black);
  width: 205px;
}

section.index-container div.main-buttons-container button a {
  text-transform: uppercase;
}

section.index-container div.main-buttons-container button a:hover {
  color: var(--secondary-gold)
}

/*---------------SIGN UP PAGE---------------*/

section.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  height: 100vh;
}

section.form-container h2 {
  margin-left: 1rem;
}

input, label {
  font-family: 'Manrope', sans-serif;
}

div#form form{
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

div#form form label {
  margin: 0.5rem 0 1rem 0;
}

div#form form input {
  margin-bottom: 1rem;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: var(--secondary-gold);
  background-color: var(--primary-white);
}

div#form form select {
  border-color: var(--secondary-gold);
  margin-bottom: 1rem;
  background-color: var(--primary-white);
}

div.button-form-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

div#form form button {
  border: 1px solid var(--secondary-gold);
  width: 200px;
  background-color: var(--primary-white);
  padding: 0.6rem 0;
}

div#form form button:hover {
  border: 1px solid var(--primary-black);
  width: 205px;
  margin-left: 2rem;
}

/*---------------NAVBAR LAYOUT---------------*/
nav.navbar-layout{
  width: 100vw;
  padding: 20px;
  background-color: var(--primary-white);
  position: fixed;
  bottom: 0;
  border-top: solid 0.5px;
  border-color: var(--secondary-grey);
}

nav.navbar-layout ul {
  display: flex;
  justify-content: space-between;
}

nav.navbar-layout ul .li-no-user {
  display: flex;
  justify-content: center;
}

nav.navbar-layout ul li a img {
  width: 48px;
}


