/*---------------GENERAL---------------*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap');

@font-face {
  font-family: porlane;
  src: url("/fonts/porlane/Porlane.ttf")
}

* {
  font-size: 16px;
  font-family:'Manrope', sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-grey: #242424;
  --primary-white: #ebebeb;
  --secondary-gold: #AB882E;
}

body {
  background-color: var(--primary-grey);
  width: 100vw;
  margin-bottom: 100px;
}

h2 {
  font-family: porlane;
  font-size: 5.2rem;
  color: var(--primary-white);
}

p{
  font-family: 'Manrope', sans-serif;
}
a {
  font-family: 'Manrope', sans-serif;
  text-decoration: none;
  color: var(--primary-white);
}

li {
  font-family: 'Manrope', sans-serif;
  text-decoration: none;
  color: var(--secondary-gold);
}

input, label, select, button {
  font-family: 'Manrope', sans-serif;
}

/*---------------INDEX PAGE---------------*/
section.index-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  gap: 3.6rem;
}

section.index-container div.main-logo-container {
  display: flex;
}

section.index-container div.main-logo-container img {
  width: 195px;
}

section.index-container div.main-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 2rem
}

section.index-container div.main-buttons-container a{
  border: 1px solid var(--secondary-gold);
  width: 200px;
  background-color: var(--primary-grey);
  padding: 1rem 0;
  text-transform: uppercase;
  text-align: center;
}

section.index-container div.main-buttons-container a:hover {
  border: 1px solid var(--primary-white);
  width: 205px;
  color: var(--secondary-gold)
}


/*---------------NAVBAR LAYOUT---------------*/
nav.navbar-layout{
  width: 100vw;
  padding: 20px;
  background-color: var(--primary-grey);
  position: fixed;
  bottom: 0;
  border-top: solid 0.5px;
  border-color: var(--secondary-gold);
}

nav.navbar-layout ul {
  display: flex;
  justify-content: space-between;
}

nav.navbar-layout ul .li-no-user {
  display: flex;
  justify-content: center;
}

nav.navbar-layout ul li a img {
  width: 48px;
}

/*---------------WELCOME PAGE---------------*/
section.tattoer-photos-container div div.tattoo-photo-div img.welcome-tattoo-photo {
  width: 100vw;
}

/*---------------PROFILE PAGE---------------*/
section.profile-image-container img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

img.profile-photos {
  width: 100vw;
}