<nav class="navbar-layout-back-arrow">
    <button class="back-button" id="go-back"><img class="back-button-image" src="/images/left-arrow.png" alt="back-arrow"></button>
    <section class="logo-nav-section">
        <ul>
            <li><a href="/"><img class="max-icon" src="/images/inked-in-logo-B.png" alt="logo-icon"></a></li>
        </ul>
    </section>
</nav>
<section class="main-welcome-title">
    <h2>Edit review</h2>
</section>
<section class="formrev">
    <form method="POST" action="/reviews/edit/{{review._id}}">
        <input type="number" value="{{review.stars}}" name="stars" max="5" placeholder="Rate the artist (1-5)"/>
        <input type="text" value="{{review.comment}}" name="comment" placeholder="Review"/>
        <button type="submit">Edit review</button>
    </form>
</section>
<script src="/javascript/go-back-button.js"></script>